{# CAROUSSEL #}
		<div class="container my-5">
			<div id="demo" class="carousel slide carousel-fade" data-ride="carousel">

				<!-- Images/Text du Carrousel -->
				<div class="carousel-inner">
					<div class="carousel-item active" data-interval="3000">
						<img src="{{ asset('assets/img/chaise2.jpg') }}" alt="Carrousel slide 1" class="d-block imgSize">
						<div class="carousel-caption d-none d-md-block bgTxtCaroussel">
							<a href="https://sante.lefigaro.fr/article/ehlers-danlos-une-errance-medicale-jusqu-a-l-absurde/" class="link">Ehlers-Danlos, une errance médicale jusqu’à l’absurde</a>
							<p class="txtCaroussel">Cette maladie "rare" du tissu conjonctif provoque des symptômes très variés et douloureux, pour laquelle il faut en moyenne vingt ans pour d'obtenir un diagnostic</p>
						</div>
					</div>

					<div class="carousel-item" data-interval="3000">
						<img src="{{ asset('assets/img/covid_test2.jpg') }}" alt="Carrousel slide 2" class="d-block imgSize">
						<div class="carousel-caption d-none d-md-block bgTxtCaroussel">
							<a href="http://claude.hamonet.free.fr/fr/sed-et-covid19-conseils-pratiques.htm" class="link">Conseils pratiques aux personnes atteinte du Syndhrome d'Ehlers-Danlos</a>
							<p class="txtCaroussel">Les patients atteints du Syndrome d'Ehlers-Danlos étant plus fragile, voici une liste de conseils et de recommandation à suivre en cette période de pandémie</p>
						</div>
					</div>

					<div class="carousel-item" data-interval="3000">
						<img src="{{ asset('assets/img/ecrase2.jpg') }}" alt="Carrousel slide 3" class="d-block imgSize">
						<div class="carousel-caption d-none d-md-block bgTxtCaroussel">
							<a href="https://www.mesopinions.com/petition/sante/syndrome-ehlers-danlos-soit-reconnu-ald/38205" class="link">Pétition pour reconnaitre le Syndrome d'Ehlers-Danlos en ALD (affection de longue durée)</a>
							<p class="txtCaroussel">Le Syndrome d'Ehler Danlos est une maladie invalidante voir handicapante et qui coute cher pour les patients (antidouleurs 
								orthèses, équipements onéreux, séances de kinésithérapie etc...). 
							</p>
						</div>
					</div>

					<div class="carousel-item" data-interval="3000">
						<img src="{{ asset('assets/img/vaccin_covid2.jpg') }}" alt="Carrousel slide 4" class="d-block imgSize">
						<div class="carousel-caption d-none d-md-block bgTxtCaroussel">
							<a href="http://claude.hamonet.free.fr/fr/sed-et-vaccination-covid19.htm" class="link">Ehlers-Danlos et Vaccination contre la COVID-19</a>
							<p class="txtCaroussel">Les personnes atteintes du Syndrome d'Ehlers-Danlos étant plus fragile, elles sont donc plus vulnérables face à la COVID, elles doivent donc figurer parmi les patients prioritaire en faveur d'une vaccination</p>
						</div>
					</div>
				</div>

				<!-- Flèches -->
				<a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Précédent</span>
				</a>

				<a class="carousel-control-next" href="#demo" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Suivant</span>
				</a>
			</div>
		</div>

	{# CAROUSSEL #}
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-danger">En savoir plus</a>
					</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-danger">En savoir plus</a>
					</div>
					</div>
				</div>
			</div>
		</div>
