
/*********** general ***********/  
    body{
        font-family: 'verdana', 'Halant', 'arial';

        --grey:#343B3E;
        --black: #181818;
        --noirClair:#1A1814;
        --dore:#CDA45E;
    }

/*********** margin sous navbar ***********/
    .affichage{
        margin-top: 9em;
    }

    .mt-200{
        margin-top: 200px;
    }

    .bgBlack{
        background-color: black;
    }