
/*********** general ***********/  
    body{
        font-family: 'verdana', 'Halant', 'arial';

        --grey:#343B3E;
        --lightGrey: #DBDBDB;
        --black: #181818;
        --lightBlack:#1A1814;
        --gold:#CDA45E;
    }

/*********** margin sous navbar ***********/
    .affichage{
        margin-top: 9em;
    }

    .mt-200{
        margin-top: 200px;
    }

    .bgBlack{
        background-color: black;
    }

/*********** font ***********/
    .textGold{
        color: var(--gold) !important;
    }

    .textBlack{
        color: black;
    }