    .bg-footer{
        background-color: var(--black);
        /* background: linear-gradient(#353535, #000000); */
    }

    .borderTopDore{
        border-top: var(--dore) solid 1.5px;
    }


/*********** icons reseaux sociaux ***********/    
    .iCons{
        padding-left: 3.5px;
        padding-right: 3.5px;
        padding-top: 0.1em;
    }

    .iCons:hover{
        color: var(--black);
        background: var(--dore) !important;
        border-radius: 5px; 
        padding-left: 3.5px;
        padding-right: 3.5px;
    }

    
