/*********** Background ***********/
/* modifie le dropdown en petit format */
@media (max-width: 991px) {
    .bgMini{
        background-color: var(--black) !important;
        border: 1.5px var(--gold) solid;
        border-radius: 10px;
        /* box-shadow: 3px 3px 3px 3px inset #141414; */
    }
}

/*********** liens (accueil, contact etc) ***********/
    .titleNav{
        color: white !important;
        font-size: 1.4em;
    }

    .titleNav:hover{
        color: var(--gold) !important;
        border-radius: 5px; 
    }


/*********** dropdowns subtitles ***********/
    .subTitleNav{
        color: white;
        background-color: var(--black);
    }

    .subTitleNav:hover{
        color: var(--gold);
        background-color: var(--black);
    }

/* ATTENTION !!! ne pas utiliser le ml-auto dans le 
    html sinon le text sera decalé en petit format  */
    .user{
        margin-left: auto;
    }

        @media (max-width: 991px) {
            .user{
                text-align: left;
                justify-content: left;
                align-items: left;
                margin-left: 47px;
            }
        }


/*********** Titres à gauche ***********/
    .title{
        color: white;
        font-size: 2em;
    }

    .title:hover{
        text-decoration: none;
        color: white;
    }

/*********** trait de séparation ***********/
    .separateur{
        background-color: white;
        height: 3em;
        width: 1px;
    }

    @media (max-width: 1090px) {
        .separateur{
            display: none;
        }
    }

    .bgColor{
        background-color: var(--black);  
    }

    body{
        font-family: "Playfair Display", serif !important;
    }


/*********** modifications infobull ***********/
    .tooltip .tooltip-inner{
        border: var(--gold) 1.5px solid;
        /* height: 40px;
        width: 80px; */
        font-size: 1.3em;
    }

    @media (max-width: 992px) {
        .hidden{
            display: none;
        }
    }

/* 
    .tooltip .arrow{
        color:red;
        background-color: red;
    } */

.mbNeg{
    margin-bottom: -5px;
}

.borderBottomGold{
    border-bottom: var(--gold) solid 1.5px !important;
}